<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
    <div class="container-fluid ">
      <a class="navbar-brand" href="#">
        <img src="../../assets/imagenes/logo.png" alt="" width="100" height="85">
      </a>
      <a class="navbar-brand" href="#">Scapes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav my-2 me-auto my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
          <li class="nav-item">
            <a class="nav-link active" href="#" tabindex="-1" aria-disabled="true" [routerLinkActive]="['active-link']"
              [routerLink]="['/graficaflujo']">Gráfica sensor de agua</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" tabindex="-1" aria-disabled="true" [routerLinkActive]="['active-link']"
              [routerLink]="['/graficavalvula']">Gráfica válvula eléctrica</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>