main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}
.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}
.caja__trasera{
    width: 100%;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 217, 255, 0.1.7);
}
.caja__trasera div{
    margin: 40px 40px;
    color: white;
    transition: all 500ms;
}
.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: auto;
    left: -135px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
.contenedor__login-register form{
    width: 100%;
    padding: 100px 105px;
    background: rgba(33, 131, 72, 0.1);
    position: absolute;
    border-radius: 20px;
}
.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    color: #46A2FD;
}
.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}
.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}
.formulario__login{
    margin-top: -5 00px;
    margin-left: 200px;
    opacity: 1;
    display: block;
}
.tienescuenta{
    color: white;
}