<div class="wrapper">
    <div class="container d-flex align-items-center justify-content-center">
        <main>
            <div class="contenedor__todo">
                <div class="caja__trasera">
                    <div class="caja__trasera-login">
                        <div class="contenedor__login-register">
                            <div>
                                <div class="formulario__login">
                                    <h2>Gráfica válvula eléctrica</h2>
                                    <div class="toolbar" role="banner">
                                        <div class="spacer"></div>
                                    </div>
                                    <div class="content" role="main">
                                        <label style="font-size: xx-large">DATOS DE MOVIMIENTO </label>
                                        <label
                                            style="font-size: xx-large; color: blue; font-weight: bold">
                                            {{Check}}
                                        </label> 
                                        <label class="mx-3" style="font-size: xx-large; color: blue;">Estado</label>
                                        <canvas #chart width="400" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>